body h1 {
    background-image: url(pattern.jpeg);
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
body h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.brushes, .frames, .paint {
    font-family: Helvetica;
}
.brushes h2 {
    background-color: mediumspringgreen;
}
.frames h2 {
    background-color: lightcoral;
}
.paint h2 {
    background-color: skyblue;
}
.blue-words {
    color: blue;
    font-weight: bold;
}
.footer h4 {
    color: gray;
    text-align: center;
}